<!--users/templates/users/dashboard.html-->

{% extends 'base.html' %}

{% block content %}
Hello, {{ user.username|default:'Guest' }}!

<!--<div>-->
<!--    {% if user.is_authenticated %}-->
<!--    <div class="navbar-menu" id="open-navbar1">-->
<!--      <ul class="navbar-nav">-->
<!--        <a href="{% url 'logout' %}">Logout</a>-->
<!--        <a href="{% url 'password_change' %}">Change password</a>-->

<!--      </ul>-->
<!--    </div>-->
<!--    {% else %}-->
<!--        <li><a href="{% url 'login' %}">Signin</a></li>-->
<!--    {% endif %}-->
<!--</div>-->
{% endblock %}
